/* Font: Work sans
Farben: #2e2e2e / #867772 / rgb(234, 204, 194) / #ebccc2 / #fff / rgb(115, 115, 115)  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #2e2e2e;
    color:  #ebccc2 ;
    font-family: 'Work Sans', sans-serif;
}

/* header */
header img {
    padding-left: 5%;
    padding-top: 13px;
}

body header {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    position: sticky;
    top: 0;  
}

header ul {
    padding-top: 25px;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    list-style: none;
    font-size: 0.8em;
   
}

header ul li{
    margin-right: 13px;
}

header ul li:hover {
    border-bottom:1px solid #ebccc2;
}

header ul li:first-child {
    margin-right: 56px;
}

header ul li:last-child {
    margin-left: 36px;
    margin-right: 36px;
}



/* sidebar */

#hero{ 
    display: flex;
    margin-left: 45px;
}



nav ul { 
    margin-top: 55px;
    list-style: none;
    padding-top: 95px;
    font-size: 10px;

}

nav ul li{
    padding-bottom: 75px;
    margin-left: 45px;
    
    
}

h1 {
    text-align: left;
    width: 310px;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    letter-spacing: 2px;
    line-height: 1.3;
}


/* hero-section */
#hero div:nth-of-type(2) img {
    width: 95%;
    margin-bottom: 75px;
}

/* second section */
#alchemy {
    display: flex;
    margin-left: 20%;
}
#alchemy img {
    height: 30em;
    margin-bottom: 50px;
}

#alchemy div:first-child {
    margin-right: 5%;
   

}
#alchemy div:last-child {
    width: 28vw;
    margin-left: 5%;
}

#alchemy div h2 {
    margin: 45px 0;
    padding-top: 30px;
    letter-spacing: 0.06em;
    font-size: 2em;
}

#alchemy div p{
    line-height: 1.7;
}

/* the Lounger */

#chair, #SoundsLikeHome, #shop {
    display: flex;
}

#chair img, #SoundsLikeHome img {
    width: 60vw;
    height: 100vh;
    margin-right: 5%;
}
#chair div h2, #SoundsLikeHome div h2 {
    margin: 85px 0;
    padding-top: 100px;
    letter-spacing: 0.06em;
    font-size: 2em;
}

#chair div p, #SoundsLikeHome div p{
    line-height: 1.7;
}

#chair div:last-child, #SoundsLikeHome div:last-child {
    margin-left: 5%;
    width: 28vw;
}
/* video section */
video {
margin-left: 20%;
margin-top: 80px;
}
/* Exist to create with 3 buttons section */
#buttons {
    margin-left: 15%;
}
#buttons h3{
    margin:170px 0 18px 0;
    letter-spacing: 0.1em;
}

#buttons h2{
    font-size: 3em;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}

#buttons p{ 
    line-height: 2;
    font-weight: 200;
    font-size: 1.2em;
    color: rgb(115, 115, 115);

}

#buttons ul{
    display: flex;
   list-style: none;
   
}
#buttons ul li{
    padding: 5px 17px;
    border-radius: 2px;
    margin: 30px 6px 15px 0;
    border: .8px solid white;
    text-align: center;
    color:rgb(115, 115, 115);
    font-size: .8em;
    letter-spacing: 0.1em;
}


/* second last page */
.soundAA1, .soundAA2 {
    display: flex;
    margin: 0 15%;
}

.soundAA1 img, .soundAA2 img {
    width: 50%;
}
.soundAA1 {
    margin-top: 140px;
}
.soundAA2 {
    margin-bottom: 140px;
}
.soundAA1 h4, .soundAA2 h4{
    padding-top: 10em;
    padding-left: 5%;
    padding-bottom: 1rem;
    letter-spacing: 0.2em;
}
.soundAA1 h3, .soundAA2 h3{
    padding-left: 5%;
    padding-bottom: 1rem;
    letter-spacing: 0.1em;
    font-size: 1.9em;
}
.soundAA1 p, .soundAA2 p{
    padding-left: 5%;
    padding-bottom: 1rem;
    line-height: 2;
    font-weight: 100;
    width: 80%;
    color: rgb(115, 115, 115);
}




/* last page */
#shop > img {
    width: 58vw;
    height: 100vh;
}
#shop section:last-of-type {
  padding-left: 5%;
  padding-top: 100px;
}

#shop section:last-of-type h2{
    line-height: 2;
    text-align: center;
    letter-spacing: .2em;
}
#shop section:last-of-type h3{
    line-height: 2;
    text-align: center;
    letter-spacing: .2em;
    font-weight: 100;
}


#shop section:last-of-type a{
    line-height: 3;
    text-align: center;
    margin-left:41%;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
   background-color: #ebccc2;
   color: #867772;
   font-size: 1rem;
   letter-spacing: .1em;
   font-weight: 300;
   border-radius: 2px;;
   

}
